doctype html
html(class="no-js", lang="")
    block link
        -var selected = 'home'; //default

    //- Only displaying link to admin page if user belongs to admins group
    -var menu = { 'Home': '/', 'Stats': '/stats', 'Profile': '/profile' };
    if isAdmin
        -var menu = { 'Home': '/', 'Stats': '/stats', 'Profile': '/profile', 'Admin': '/admin' };
    head
        -var title = title || "Stream Listener"
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title= title
        //- title #{title}
        meta(name="description", description=description)
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/css/main.css')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
        block head
    body
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#navbar',aria-expanded='false',aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class='navbar-brand',href='/') SL
                div.collapse.navbar-collapse(id="navbar")
                    ul.nav.navbar-nav
                        each val, key in menu
                            if selected === key
                                li.active: a(href=val, title=key)= key
                            else
                                li: a(href=val, title=key)= key

        div.container

            .main-content
                block content

            .footer
                p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.

